.app-toolbar {
    background: #e40511 !important;
}

.bg-tni {
    background: #e40511 !important;
}

.app-content.dashboard {
    background-color: transparent !important;
    box-shadow: unset !important;
}

.height-auto {
    height: auto;
}

@media (min-width: 1200px) {
    .fs-8x {
        font-size: 8rem !important;
    }
}

@media (max-width: 1200px) {
    .fs-8x {
        font-size: 5rem !important;
    }
}

@media (max-width: 991px) {
    .mb-md-10 {
        margin: -18px 0 !important;
    }
}

@media (max-width: 1190px) {
    .badge.fs-1x {
        font-size: 1rem !important;
    }
}

.responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 49%;
    margin-bottom: 20px;
    /* 16:9 aspect ratio (h/w * 100) */
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* custom iconmod */
@font-face {
    font-family: 'iconmod';
    src: url('fonts/iconmod.eot?r6d6sn');
    src: url('fonts/iconmod.eot?r6d6sn#iefix') format('embedded-opentype'),
        url('fonts/iconmod.ttf?r6d6sn') format('truetype'),
        url('fonts/iconmod.woff?r6d6sn') format('woff'),
        url('fonts/iconmod.svg?r6d6sn#iconmod') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconmod';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconmod-twitter .path1:before {
    content: "\e900";
    opacity: 0.4;
}

.iconmod-twitter .path2:before {
    content: "\e901";
    margin-left: -1em;
}